@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This application is the resulting prototype of the Final Year Project by Dominic Hill</p>
</div>
